.wrap {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100%;
	background-color: #fff;
	color: #000;
	font-family: "Roboto", sans-serif;
	font-size: 1.5rem;
	font-weight: 500;
	text-align: center;
}

.form {
	display: flex;
	flex-direction: column;
}

.form label {
	margin-bottom: 10px;
	text-align: left;
}

.form input {
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #000;
	margin-bottom: 10px;
}

.form button {
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #000;
	background-color: #000;
	color: #fff;
	cursor: pointer;
	margin-bottom: 10px;
}
