.success_wrap{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100%;
	background-color: #fff;
	color: #000;
	font-family: "Roboto", sans-serif;
	font-size: 1.5rem;
	font-weight: 500;
	text-align: center;
}
